// the meat of the pages organization
.organize {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
  height: 100%;
  margin-right: 0%;
  padding: 5%;
}

.content {
  grid-area: content;
  margin-right: -20%;
  width: 100%;
}

@media (min-width: 800px) {
  .organize {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
      "header header  header"
      "nav    content content"
      "nav    content content"
      "footer footer  footer";
      padding: 1%;
   }
   
  .content {
    grid-area: content;
    margin-top: -5%;
    padding-right: 2em;
  }

  //to fix scss error saying these "don't exist"
  .nav {
    grid-area: nav;
  }
  .header {
    grid-area: header;
  }

}

