// the meat of the pages organization

.content {
    grid-area: content;
    border: 2px solid red;
  }


// the white sidebar on the side of the meat of the page
.side {
    border: 2px solid red;
}
.ad {
    border: 2px solid red;
}



.organize {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  
  