// the meat of the pages organization
.organize {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}


.content {
    grid-area: content;
    border: 2px solid red;
  }


// the white sidebar on the side of the meat of the page
.side {
    border: 2px solid red;
}
.ad {
    border: 2px solid red;
}


@media (min-width: 700px) {
  .organize {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
  .side {
  grid-area: sidebar;
  display: none;
  }
  .ad {
    grid-area: ad;
    display: none;
  }
  .content {
    grid-area: content;
    margin-right: -125px;
  }

  //to fix scss error saying these "don't exist"
  .nav {
    grid-area: nav;
  }
  .header {
    grid-area: header;
  }

}

