// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  grid-area: footer;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: .9rem;
}

.footer__copyright {
  float:left; 
  text-align: center;
}

.footer__copyright--next {
  margin: 7px;
}
