// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header__logo {
    border: 1px solid #b6bdc3;
    width: 13%;
    
    @media screen and (max-width: $break-small) {
        width: 100px;
        float: none;
      }
      @media screen and (min-width: $break-large) {
        float: right;
      }

}



.nav {
    font: normal 125% / 1.4 $body-font;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        color: #000000;
    }






}
