// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    grid-area: header;
    border: 2px solid red;
    padding: 25px 0px 0px 20px;
} 

.header__logo {
    fill: $logo-color;
    width: 13%;
}

.header {
    @media (min-width: 700px) {
    border: 2px solid red;
    padding: 25px 0px -20px 20px;
    margin-bottom: -20px;
    }
}

.header__logo:hover {
    fill:red;
}
