.about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr .6fr;
    padding-top: 2em;
  }

  .about__image {
    width: 100%;
  }
  
  .about__text {
    padding-left: 2em;
    margin-top: -1.9em;
    order: 2;
    width: 100%;
  }

  .about__CTA {
    padding-top: 5%;
  }
