.about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: .6fr .6fr;
  }

  .about__image {
    width: 100%;
  }
  
  .about__text {
    padding-left: 2em;
    margin-top: -1.9em;
    order: 2;
  }

  .about__CTA {
    @include button;
  }