// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.sliding-text {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .sliding-text__stable {
    font-size: 40px;
    color:#aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sliding-text__moving{
    height: 50px;
    overflow: hidden;
  }
  .sliding-text__moving--words{
    color: red;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .sliding-text__moving--words-driver{
    animation: skillz 10s linear infinite;
  }
  
  @keyframes skillz {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }