// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.sliding {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr minmax(40ch, 65ch) minmax(40ch, 65ch);
  grid-template-rows: 1fr 1fr .5fr .1fr 1fr;
}

.sliding__image {
  order: 2;
  grid-column: 3;
  grid-row: span 5;
  width: 100%;
}

.sliding__text {
  width: 100%;
  grid-column: 2;
  grid-row: 3;
  text-align: right;
  margin-top: auto;
  }
  .sliding__text--stable {
    font-family: $heading-font;
    font-size: $font-size-large;
    color:#aaa;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sliding__text--moving{
    height: 50px;
    overflow: hidden;
  }
  .sliding__text--words{
    color: red;
    height: 50px;
    margin-bottom: 50px;
    padding: 3px 8px;
    text-align: left;
    box-sizing: border-box;
  }
  
  .sliding__text--words-driver{
    animation: skillz 10s linear infinite;
  }
  
  @keyframes skillz {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }

  .sliding__CTA {
  width: 100%;
  grid-column: 2;
  grid-row: 4;
  text-align: right;
  padding-right: 2%;
  letter-spacing: .75px;
}