// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Button
@mixin button($bg) {
  border: 2px solid $bg;
  color: $bg;
  padding: 14px 28px;
  font-size: $font-size-small;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background: $bg;
    color: $base-color;
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
    color: $base-color;
  } 
}