// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// google fonts
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Montserrat&display=swap');


/// Font Variables
$heading-font: 'DM Serif Display', 'Georgia', serif;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
 

/// Font Sizes Guide
$font-size-small: .9em;
$font-size-med: 1.5em;
$font-size-large: 2em;


/// COLORS ///
/// Logo (logo & nav hover) 
$logo-color: hsl(60°, 1%, 33%);

/// Text (a, p, nav)
$text-color: hsl(60°, 1%, 33%);

/// Main brand (h1)
$brand-color: hsl(6°, 82%, 65%);
// next season - diggin this color hsl(18.87, 66.67, 63.53);

/// Accent (anywhere that needs a POP - so far buttons) 
$accent-color:hsl(28°, 64%, 74%);

/// Base (when the background isn't white - makes text white)
$base-color: hsl(0°, 0%, 100%);
