// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// google fonts
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Montserrat&display=swap');


/// Font Variables
$heading-font: 'DM Serif Display', 'Georgia', serif;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
 

/// Font Sizes Guide
/// @type Color 
$font-size-small: .9em;
$font-size-med: 1.5em;
$font-size-large: 2em;


/// COLORS ///

/// Logo (logo & nav hover) 
/// @type Color
$logo-color: #241f20;


/// Text (a, p, nav)
/// @type Color
$text-color: hsl(60°, 1%, 33%);

/// Main brand (h1)
/// @type Color
$brand-color: hsl(18.87, 66.67, 63.53);

/// Accent (anywhere that needs a POP - so far buttons) 
/// @type Color
$accent-color: rgb(237, 237, 237);

/// Base (when the background isn't white - makes text white)
/// @type Color
$base-color: hsl(0°, 0%, 100%);






/// Container's maximum width
/// @type Length
$max-width: 1180px !default;






