// photo-grid that will display all my work for that particular page

ul {
  columns: 300px;
  break-inside: avoid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
li {
  list-style-type:none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
    transition: transform 0.3s ease-in-out;
  cursor: pointer;
  
    &:hover {
    transform: scale(1.05);
  }
}
