// photo-grid that will display all my work for that particular page

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 10px;
}