// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since Jen Simmons does it and I trust her with my life
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

//   media quieres for everything
@media (min-width: 700px) {
  .organize {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   .nav__ul {
     flex-direction: column;
   }
  .nav--toggle {
    display:none;
  }
  .side {
  grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
}