/**
 * Typography styles
 */

body {
  color: $text-color;
  font: normal 125% / 1.4 $body-font;
}

h1 {
  font: normal 125% / 1.4 $heading-font;
}

p {
  font: normal 100% / $body-font;
}

a {
  color: $brand-color;
  text-decoration: none;

 @include on-event {
    color: $text-color;
  }
}