/**
 * Typography styles
 */

body {
  color: $text-color;
  font: normal 100% / 1.4 $body-font;
}

h1 {
  font: normal 100% / 1.4 $heading-font;
  font-size: $font-size-large;
  color: $text-color;
}

p {
  font: $body-font;
  font-size: $font-size-small;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;

 &:hover {
    color: $brand-color;
  }
}