/**
 * Typography styles
 */

body {
  background-color: hsl(0.08, 0.23, 0.95);
  color: $text-color;
  font: normal 100% / 1.4 $body-font;
}

h1 {
  font: normal 100% / 1.4 $heading-font;
  font-size: $font-size-large;
}

p {
  font: $body-font;
  font-size: $font-size-small;
}

a {
  color: $brand-color;
  text-decoration: none;

 @include on-event {
    color: $text-color;
  }
}